{% extends 'base.html.twig' %}

{% block title %}Ajouter une offre{% endblock %}

{% block body %}
    <a class="btn btn-primary float-end" href="{{ app.request.headers.get('referer')}}"><span class="fa-solid fa-arrow-left"></span></a>
    <h1>Ajouter une offre</h1>


    {{ include('offres/_form_offre.html.twig') }}
{% endblock %}
