<footer class="mt-auto text-center text-white" style="background-color: #caced1; z-index: 2">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="{{ path('home_index') }}">Dev Jobs</a>
    </div>
    <!-- Copyright -->
</footer>