{% extends 'base.html.twig' %}

{% block title %}Modifier le candidat{% endblock %}

{% block body %}
    <a class="btn btn-primary float-end" href="{{ app.request.headers.get('referer')}}"><span class="fa-solid fa-arrow-left"></span></a>
    <h1 class="mb-5">Modifier le candidat</h1>

    {{ include('candidat/_candidat-form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
