{% extends 'base.html.twig' %}

{% block title %}Postuler{% endblock %}

{% block body %}
    <a class="btn btn-primary float-end" href="{{ app.request.headers.get('referer')}}"><span class="fa-solid fa-arrow-left"></span></a>

    <h1>Formulaire de candidature</h1>

    {{ include('candidat/_candidat-form.html.twig') }}
{% endblock %}
